* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.a1:link {
    text-decoration: none;
    color: black;
}

.a1:visited {
    text-decoration: none;
    color: black;
}

.a1:hover {
    text-decoration: none;
    color: black;
}

.a1:active {
    text-decoration: none;
    color: black;
}
.a2:link {
    text-decoration: none;
    color:white;
}

.a2:visited {
    text-decoration: none;
    color: white;
}

.a2:hover {
    text-decoration: none;
    color: white;
}

.a2:active {
    text-decoration: none;
    color:white;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.con1{
    background-color: rgb(243,243,238);
}

.off {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: rgb(231, 231, 226);
}

.off1 {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    width: 450px;

}

.smile {
    width: 30px;
}

.logo1 {
    width: 50px;
}

.nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.x1 {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}

.search_bar {
    height: 55px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(231, 231, 226);
    border: rgb(231, 231, 226);
}

.search{
    position: relative;
    left: 40px;
}

.nav1{
    width: 150px;
    justify-content: space-around;
    height: 100px;
}

.nav2{
    width: 500px;
}

.nav3{
    width: 250px;
}

.nav4{
    width: 120px;
}

.nav5{
    width: 250px;
}

.x11{
    border: 1px solid black;
    background-color:  black;
    padding: 10px;
    border-radius: 7px;
}

.x12{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

.x12:visited{
    color: white;
}

.mainpg1{
    display: flex;
    height: 740px;
    justify-content: space-around;
}

.mainpg11{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 700px;
    padding: 20px;
    justify-content: space-between;
}

.mainpg111{
    display: flex;
    font-weight: 100;
    width: 160px;
    justify-content: space-between;
}

.mainpg112{
    font-size: 55px;
    font-weight: 600;
}

.mainpg113{
    position: relative;
    bottom: 45px;
    justify-content: space-between;
    width: 200px;
    height: 50px;
}

.author1{
    font-size: 25px;
    text-decoration: underline;
}

.mainpg12{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 650px;
    height: 700px;
}

.mainpg114{
    display: flex;
    justify-content: space-between;
    height: 170px;
    flex-wrap: wrap;
    width: 550px;
}

.y1{
    display: flex;
    height: 40px;
    width: 240px;
    align-items: center;
}

.mainpg1143{
    display: flex;
    height: 90px;
    align-items: start;
}

.z1{
    width: 20px;
    padding: 0 10px 0 0;
}

.img11{
    width: 650px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

.sticker1{
    width: 130px;
    align-items: center;
    position: relative;
    top: 75px;
    left: 480px;

}

.mainpg121{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    position: relative;
    top: 77px;
    left: 20px;
}

.sticker11{
    width: 130px;
}

/* /////////////////////////////////////////////////// */

.pg2{
    display: flex;
    flex-direction: column;justify-self: unset; 
    background-color: rgb(248,248,248);
}

.mainpg12{
    display: flex;
    flex-direction: column;
}

.mainpg21{
    padding: 70px 40px;
    font-size: 50px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    text-transform: capitalize;

}

th, td{
    padding: 18px;
}

th{
    font-weight: 100;
}

td{
    font-size: 22px;
}

table{
    border-radius: 20px;
    height: 130px;
    width: 1360px;   
    border-radius: 10px;
}

.mainpg22{
    display: flex;
    height: 130px;
    justify-content: space-around;
}

.mainpg23{
    display: flex;
    padding: 80px 0;
    justify-content: space-around;
    height: 250px;
}

.mainpg231{
    width: 640px;
    font-size: 23px;
}

.mainpg232{
    width: 640px;
    font-size: 23px;
}