.container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.vbar{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hbar{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}