.con{
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
    padding: 5px;
}

.ball{
    border: 2px solid rgb(173, 173, 173);
    border-radius: 20px;
    background-color: gray;
    height: 15px;
    width: 15px ;
    /* animation-name: animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: ball 5s ease-in-out 1s 1 reverse;
}

@keyframes animation {
    to{
        transform: translateX(1200px);

    }

    from{
        background-color: aquamarine;
    }
}

@keyframes ball {
    20%{
        transform: translateY(200px);
    }

    40%{
        transform: translateX(200px);

    }

    60%{
        transform: translateY(200px);

    }

    80%{
        transform: translateX(200px);

    }

    100%{
        transform: translateY(200px);

    }
}