* {
    margin: 0;
    padding: 0;
}

.box {
    border: 2px solid black;
    border-radius: 25px;
    margin: 50px;
    width: 300px;
    height: 500px;
}

.imgx {
    padding: 25px;
}

.imgx1 {
    width: 250px;
    border-radius: 25px;
}

.tag {
    display: flex;
    padding: 0 34px 0 14px;

}

.t1,
.t2 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 0 10px;
    margin: 0 10px 0 15px;
    width: 40px;
}

button {}