.container{
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.img{
    width: 400px;
}

.img2, .like{
    width: 80px;
}